body {
  background-color: #000000;
  color: #fff;
  font-family: 'EB Garamond', serif;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;
  background: url('../img/cover.jpg') no-repeat center fixed;
}

header h1 {
  font-weight: 500;
  font-size: 10vw;
  text-shadow: 3px 4px 0 rgba(0 ,0 ,0 , 0.2);
}

header p {
  font-weight: 400;
  font-size: 7vw;
  font-style: italic;
}

footer {
  text-align: center;
}

hr {
  border-color: #fff;
}

section {
  padding: 5vh 8vw 5vh 8vw;
}

.experience {
  text-align: left;
  padding: 20px 0 20px 0;
}

.location, .additional-info > strong {
  display: block;
}

.experience h5 {
  font-weight: 700;
}

@media all and (min-width: 701px) {
  .experience {
    display: flex;
    flex-wrap: wrap
  }

  .company-info {
    flex: 1;
  }

  .additional-info {
    flex: 3;
  }
}

@media all and (max-width: 700px) {
  section {
    text-align: center;
  }

  .role-detail {
    display: none;
  }
}