body {
  background-color: black;
  font-family: 'adobe-garamond-pro';
}

hr {
  background-color: #fff;
}

h5, h3, h1 {
  color: #fff;
}

header h1 {
  font-weight: 300;
  font-size: 10vw;
  text-shadow: 3px 4px 0 rgba(0 ,0 ,0 , 0.2);
  color: #fff;
}

header p {
  font-size: 6vw;
  font-style: italic;
}

p, a {
  color: #fff;
}

a:hover {
  background:rgba(0, 0, 0, 0.3);
  color: #fff;
  text-decoration: none;
}

header {
  text-align: center;
  height: 100vh;
  background: url('../img/Love-Coding.jpg') bottom center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toggleNav {
  display: none;
}

.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.flex-nav li {
  flex: 2;
}

.flex-nav .social {
  flex: 1;
}

.flex-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  color: #fff !important;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none !important;
  background: rgba(0,0,0,0.2);
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: 0.5s;
}

@media all and (max-width: 880px) {
  .flex-nav ul {
    flex-wrap: wrap;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }
  
  .flex-nav li {
    flex-basis: 100%;
  }

  .toggleNav {
    display: block
  }
  
  .flex-nav ul {
    display: none;
  }

  .flex-nav ul.open {
    display: flex;
  }
}

.black-background {
  height: 100vh;
  background: black;
}

.active-section {
  background: rgba(37, 37, 37, 0.5);
  font-style: italic;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
}

.section-wrapper section {
  padding: 8vh 15vw 8vh 15vw;
  height: 100vh;
}

#skills {
  background: url('../img/cover.jpg') bottom center no-repeat;
  background-size: cover;
}

#volunteer {
  background: url('../img/coding.jpg') bottom center no-repeat;
  background-size: cover;
}

p {
  font-size: 160%;
  font-weight: 400;
}

.contact-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact a {
  text-align: center;
  flex: 1 1 33.3%;
}

@media all and (max-width: 800px) {
  p {
    font-size: 120%;
    font-weight: 400;
  }

  #contact a {
    flex: 1 1 100%;
    padding: 5vh 2vw 5vh 2vw;
  }
}

@media all and (max-height: 600px) {
  p {
    font-size: 100%;
    font-weight: 400;
  }
}